*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.navbar-brand span{
    color: rgb(94, 86, 67);
}
body{
    background-color: rgb(116, 107, 80);
}
h1{
    background-color: rgb(165, 153, 116);
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 20px;
}
section{
    display: grid;
    justify-content: space-between;
    padding: 10px;
     grid-template-columns: repeat(3, 1fr); 
    text-align: center;
    object-fit: contain;
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:480px){ 
section{
    /* grid-template-columns: repeat(1fr); */
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;
}
}
/* @media(max-width:768px){
    section{
        grid-template-columns: repeat(3,1fr);
} */
/* } */

.card{
    min-height: 100px;
    width: 100%;
    background-color: #333;
    border: 5px solid rgb(165, 153, 116);  
}

.card__img{
    background-image: url(../img/img1.jpg);
    width: 100%;
    background-size: cover; 
    background-position: center;
    height: 350px;
    
    
}

.card__title{
    text-align: center;
    color: rgb(165, 153, 116);
    
}

.card__descripcion{
    color: #fff;
    padding: 20px;
    text-align: center;
    object-fit: fill;
}

.card__button{
    background-color: rgb(165, 153, 116);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 115px;
    margin: 8%;
    width: 50%;
    
}

.card__button:hover{
    background-color: #000;
    width: 50%;
}
.card__img2{
    background-image: url(../img/img2.jpg);
    background-size: cover; 
    background-position: center;
    height: 350px;
   
    object-fit: fill;
}
.card__img3{
    background-image: url(../img/img3.jpg);
     background-size: cover; 
    background-position: center;
    height: 350px;
    object-fit: fill;
}
.card__img4{
    background-image: url(../img/img4.jpg);
    background-size: cover; 
    background-position: center;
    height: 350px;
    object-fit: fill;
}
/* .card__img5{
    background-image: url(../img/img5.jpg); */
    /* background-size: cover; */
    /* background-position: center;
    height: 350px;
    object-fit: fill;

} */
.card__img6{
    background-image: url(../img/img6.jpg);
    background-size: cover;
    background-position: center;
    height: 350px; 
    object-fit: fill;
}


footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}
footer i{
    font-size: 50px;
    color: rgb(165, 153, 116);
    letter-spacing: 30px;
}

footer i:hover{
    color: #333;
}


/* @media (max-width:480px){ 
    .card{
        grid-template-columns: 1fr;
}
}
@media(max-width:768px){
    .card{
        grid-template-columns: 1fr; 
}
} */