.navbar-brand{
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.navbar-brand span{
    color: rgb(94, 86, 67);
}
form{
    margin: 10px;
    padding: 10px;
}
h2{
    background-color: rgb(165, 153, 116);
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 20px;
}

.btn{
    margin-top: 5px;
   
}
label{
    padding: 5px;
}
form{
    border: 7px solid rgb(165, 153, 116);
     margin: auto  ; 
    border-radius: 10px;
     block-size: auto; 
     margin-top: 50px;
  }

  footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    margin-top: 30px;
}
  footer i{
    font-size: 50px;
    color: rgb(165, 153, 116);
    letter-spacing: 30px;
}

footer i:hover{
    color: #333;
}