*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.navbar-brand span{
    color: rgb(94, 86, 67);
}
body{
    background-color: rgb(116, 107, 80);
}
h2{
    background-color: rgb(165, 153, 116);
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 20px;
}
section{
    display: grid;
    justify-content: space-between;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    min-height: 300px;
    /* width: 30%; */
    background-color: #333;
    border: 5px solid rgb(165, 153, 116);
}

.card__img{
    background-image: url(../img/imgC6.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: auto;
}

.card__title{
    text-align: center;
    color: rgb(165, 153, 116);
}

.card__descripcion{
    color: #fff;
    padding: 20px;
}

.card__button{
    background-color: rgb(165, 153, 116);
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 90%;
    margin: 5%;
}

.card__button:hover{
    background-color: #000;
}
.card__img2{
    background-image: url(../img/imgC1.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.card__img3{
    background-image: url(../img/imgC2.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.card__img4{
    background-image: url(../img/imgC3.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.card__img5{
    background-image: url(../img/imgC4.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.card__img6{
    background-image: url(../img/imgC5.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}
footer i{
    font-size: 50px;
    color: rgb(165, 153, 116);
    letter-spacing: 30px;
}

footer i:hover{
    color: #333;
}






